@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root{
  --header-height: 3.5rem;

  --title-color: #D9C087;
  --text-color: #D2C7B4;
  --black-color: #0e0f0f;
  --gray-color: #303535;
  --white-color: #fbefd8;

  --blog-font: "Merriweather", serif;
  --code-font: "Kode Mono", monospace;
  --biggest-font-size: 3rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --z-index: 10
}

@media screen and (min-width: 950px){
  :root{
    --biggest-font-size: 7.5rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1,25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .875rem
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

input, button, body{
  font-family: var(--code-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--black-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input, button{
  outline: none;
  border: none;
  background: none;
}

h1, h2, h3, h4{
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  font-family: var(--code-font);
}


img{
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid{
  display: grid;
  gap: 1.5rem;
}

.section{
  margin-top: 1rem;
  padding-block: 2rem 1rem;
}

.section_title{
  padding: 0;
  margin: 0;
  display: block;
  font-size: var(--big-font-size);
  color: var(--title-color);
  text-align: left;
  margin-bottom: 2rem;
  font-family: var(--blog-font);
}

.title{
  transition: all .4s;
  color: var(--title-color);
}

.title a,
.title a:visited,
.title a:active {
  color: var(--title-color);
}


.main{
  overflow: hidden;
}

.code{
  font-family: var(--code-font);
}



/* header*/



.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  z-index: var(--z-index);
  transition: all .4s;
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo span{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav_close, .nav_toggle{
  display: inline-flex;
  font-style: 1.5rem;
  cursor: pointer;
  color: var(--title-color);
  transition: all .3s;
}

@media screen and (max-width: 950px) {
  .nav_menu{
    position: fixed;
    top: -120%;
    left: 0;
    background-color: var(--black-color);
    width: 100%;
    padding-block: 4rem;
    box-shadow: 0 8px 10px hsla(0, 0%, 0%, .1);
    border-radius: 0 0 1.5rem 1.5rem;
    transition: all .4s;
  }
}

.nav_list{
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav_link{
  position: relative;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.nav_link::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: all .4s;
}

.nav_link:hover::after{
  width: 60%;
}

.nav_close{
  color: var(--title-color);
  position: absolute;
  top: 1.3rem;
  right: 1.5rem;
}

.nav_menu.active{
  top: 0;
}

.lander{
  display: flex;
  justify-content: space-between;
}

.cta{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button{
  font-family: var(--blog-font);
  padding: 1rem 2.5rem;
  background-color: var(--title-color);
  color: var(--black-color);
  cursor: pointer;
  border: 2px solid var(--title-color);
  width: max-content;
}

.button_secondary{
  font-family: var(--blog-font);
  padding: 1rem 2.5rem;
  cursor: pointer;
  transition: all .3s;
  color: var(--title-color);
  border: 2px solid var(--title-color);
  width: max-content;
}


.button_secondary:hover {
  padding: 1rem 2.5rem;
  background-color: var(--title-color);
  color: var(--black-color);
  transition: all .3s;
}


.latest_blog{
  padding: 2rem 2.5rem;
  border: 2px solid var(--text-color);
}

.posts{
  background-color: var(--white-color);
  color: var(--black-color) !important;
}

.posts .section_title{
  color: var(--black-color);
}

.blog_list_container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog_card{
  padding: 1rem 1.5rem;
  border: 2px solid var(--title-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text-color);
  transition: all .4s;
}

.date{
  font-size: var(--small-font-size);
  transition: all .4s;
  color: var(--title-color);
}

.tags{
  display: flex;
  gap: .5rem;
}

.tag{
  text-transform: lowercase;
  font-size: var(--small-font-size);
  padding: .25rem .75rem;
  border-radius: .5rem;
  transition: all .4s;
  border: 2px solid var(--text-color);
}

.blog_preview{
  line-height: 2;
}

.blog_card:hover{
  color: var(--black-color);
  background-color: var(--title-color);
  cursor: pointer;
  transition: all .4s;
}

.blog_card:hover .tag{
  border: 2px solid var(--black-color);
  transition: all .4s;
}

.blog_card:hover .date, .blog_card:hover .title{
  color: var(--black-color);
  transition: all .4s;
}

.markdown-body{
  font-family: var(--blog-font);
  line-height: 1.75;
  margin-top: 2rem;
  max-width: 750px;
  padding: 0 1rem;
  letter-spacing: .75px;
}


.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  font-weight: var(--font-bold);
  line-height: 1.2;
  margin-top: 4rem;
  margin-bottom: 1rem;
}


.markdown-body h1 {
  font-size: 2rem;
}


.markdown-body h2 {
  font-size: 1.6rem;
}

.markdown-body h3 {
  font-size: 1.3rem;
}


.markdown-body p {
  margin-bottom: 1rem;
}

.markdown-body a {
  color: var(--white-color);
  text-decoration: underline;
}


.markdown-body ul, .markdown-body ol {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  list-style-type: disc;
}

.markdown-body li{
  margin-bottom: 1rem;
}

.markdown-body code {
  background-color: var(--gray-color);
  padding: 2px 4px;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-family: var(--code-font);
  border-radius: 4px;
}



.markdown-body hr {
  border: 0;
  height: 1px;
  background: var(--text-color);
  margin: 2rem 0;
}


.name_div, .email_div, .message_div{
  display: flex;
  flex-direction: column;
}

.message_div{
  margin-top: .5rem;
}

.required_label{
  color: rgb(255, 86, 86);
}


.input_label{
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}

.input{
  padding: 1rem 1.5rem;
  border: 2px solid var(--title-color); 
  color: var(--title-color);
  font-family: var(--code-font);
  width: 100%;
}

.textarea{
  resize: none;
  width: 100%;
  background: none;
  outline: none;
  height: 10rem;
  font-size: var(--normal-font-size);
}


/* breakpoints  */

@media screen and (max-width: 488px) {
  .container{
    margin-inline: 1rem;
  }

  .lander{
    flex-direction: column;
  }
}


@media screen and (min-width: 950px) {
  .container{
    margin-inline: auto;
  }

  .section{
    margin-top: 5rem;
    padding-block: 2rem 2rem;
  }

  .section_title{
    margin-bottom: 4rem;
  }

  .nav{
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }

  .nav_toggle, .nav_close{
    display: none;
  }

  .nav_menu{
    margin-left: auto;
  }

  .nav_list{
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav_link::after{
    display: none;
  }

  .nav_link{
    border: 2px solid var(--title-color);
    padding: .25rem .75rem;
    border-radius: .5rem;
    font-size: var(--small-font-size);
    transition: all .4s;
  }

  .nav_link:hover{
    background-color: var(--title-color);
    color: var(--black-color);
    transition: all .4s;
  }

  .landing_container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 2rem;
  }


  .lander{
    flex-direction: column;
    justify-content: auto;
  }


  .cta{
    flex-direction: row;
  }

  
  .blog_list_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    column-gap: 4rem;
    row-gap: 2rem;
  }

  .form > .email_div, .form > .name_div{
    height: max-content;
  }

  .form > .message_div{
    grid-column: span 2;
    grid-row: 2 / span 2;
  }

  .form > .button_secondary{
    grid-column: span 2;
    height: max-content;
  }
}